@use "@/common/styles/styleConstants" as *;

.header {
    padding: 15px;
    max-width: 830px;
    margin: 0px auto 50px;

    &__logo {
        height: 70px;
    }
}

@media (max-width: $mobile) {
    .header {
        margin-bottom: 30px;
    }
}