//colors 
//black 
$color-total-black: rgba(0, 0, 0, 1);
//white 
$color-total-white: rgba(255, 255, 255, 1);
$color-background: rgba(245, 244, 255, 1);

//font-sizes in px
$text-title: 34;
$text-m-title: 26;

$text-large: 20;
$text-m-large: 16;

$text-main: 16;
$text-m-main: 14;

//transitions
$transition-medium: all 0.3s ease;

